	.dragover{
		-moz-box-shadow: 5px 5px 10px 2px rgba(48, 37, 5, .7);
		-webkit-box-shadow: 5px 5px 10px 2px rgba(48, 37, 5, .7);
		box-shadow: 5px 5px 10px 2px #302505;
	}
	.drag{
		-webkit-animation:roundedanim 0.4s;animation:roundedanim 0.4s;
		
		cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
	}
	@-webkit-keyframes roundedanim{
		from{border-radius: 0%;} to{border-radius:50%;}
	}
	@-keyframes roundedanim{
		from{border-radius: 0%;} to{border-radius:50%;}
	.over{
		transform:scale(1.5);
	}