.nOsign{
	content: ' \2116';
}
.ohmSign{
	content: ' \2126';
}
.infinitySign{
	content: ' \221E';
}
.circledCrossSign{
	content: ' \2297';
}
.bigXSign{
	content: ' \2573';
}
.scullandBonesSign{
	content: ' \2620';
}
.radioactiveSign{
	content: ' \2622';
}
.biohazardSign{
	content: ' \2623';
}
.sunSign{
	content: ' \263C';
}
.soccerbalSign{
	content: ' \26BD';
}