	progress.blueprogss::-moz-progress-bar { background: #rr00ff;background-color: #rr00ff; }
	progress.redprogss::-moz-progress-bar { background: red;background-color: red; }
	progress.greenprogss::-moz-progress-bar { background: green;background-color: green; }
	progress.amberprogss::-moz-progress-bar { background: #ffc107;background-color: #ffc107; }
	progress.purpleprogss::-moz-progress-bar { background: #9c27b0;background-color: #9c27b0; }
	
	@media screen and (max-width:679px){
		progress .myprogress{
			height: 5px;
			font-size: 5px;
		}
		.myprogress{
			height: 5px;
			font-size: 5px;
		}
	}
	@media screen and (min-width:680px) and (max-width:767px){
		progress{
			height: 10px;
			font-size: 10px;
		}
		.myprogress{
			height: 10px;
			font-size: 10px;
		}
	}
	@media (min-width:768px){
		progress .myprogress{
			height: 15px;
			font-size: 15px;
		}
		.myprogress{
			height: 15px;
			font-size: 15px;
		}
	}
	progress.testprgs{
		/*
		background:url("assets/back-tile.png");
		background-image:url("assets/back-tile.png");
		
		background: #00ff00;
		background-color: #ff0000;
		background:#00ff00;
		*/
		background-color: #ff0000;
		color:#00ff00;
		
		
	}
	
	progress {
		-webkit-appearance: none;
		border: none;
		width:100%;
	}
	input[type=radio].lm-radio{
		width:4vh;
		height:4vh;
		position:relative;
		border-radius:0%;
	}
	/*
		////////////////////////////////////////////////////////////////////////////////////////////////////////
		RANGE
	*/
	input[type=range] {
	  -webkit-appearance: none;
	  width: 100%;
	  background: transparent;
	}
	input[type=range]:focus {
		outline: none;
		
	}
	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
	}
	input[type=range]::-ms-track {
	  width: 100%;
	  cursor: pointer;
	  background: transparent; 
	  border-color: transparent;
	  color: transparent;
	}
	input[type=range]::-moz-range-thumb {
	  width: 24%;
	  height: 100%;
	  cursor: pointer;
	  border-radius: 0px;
	  border: 0px;
	}
	input[type=range].red::-moz-range-thumb {
		background: #ff0000;
	}
	input[type=range].green::-moz-range-thumb {
		background: #00ff00;
	}
	input[type=range]:focus::-moz-range-slider-runnable-track {
	  background: #367ebd;
	}
	input[type=range]::-moz-range-track {
	  height: 100%;
	  background-color: #000;
	}
	/* Amber */
	input[type=range].lmamber::-moz-range-thumb {
		background: #ffc107;
		border: 1px solid #ffc107;
	}
	input[type=range].lmamber::-moz-range-track {
	  border-radius: 2px;
	  border: 1px solid #ffc107;
	}
	/*
		BUTTON
	*/
	button.btnround{
		border-radius: 50% !important;
		padding:0px;
		display:block;
	}
	button.redsome{
		color: rgba(255,102,0,0.8);
		background-color:rgba(255,102,0,0.8);
		width:60%;
		float:left;
		min-height:36px;
		border:none;
		display: inline-block; 
	}
	button.redsome:focus{
		position:relative;
		-webkit-animation:anim60to40 0.8s;
		animation:anim60to40 0.8s;
		animation-delay: 0.1s;
		animation-timing-function: ease-out;
		animation-iteration-count: 2;
		animation-direction: alternate;
		animation-fill: both;
	}
	@-webkit-keyframes anim60to40{
		from{width:60%} to{width:40%}
	}
	
	button.greensome{
		color: rgba(155,202,0,0.8);
		background-color:rgba(155,202,0,0.8);
		min-height:36px;
		border:none;
		min-width:40%;
		float:right;
		clear:right;
		display: inline-block; 
		overflow: hidden;
	}
	/*
		////////////////////////////////////////////////////////////////////////////////////////////////////////
	*/
	button.actionbtn{
		border:none;
		background-color:rgba(0,0,0,0);
		cursor:pointer;
	}
	
	/*
		////////////////////////////////////////////////////////////////////////////////////////////////////////
		CHECKBOX
	*/
	.liforbtn{
		padding: 0px;
		list-style-type: none;
	}
	/*
	ROUNDINPUT
	*/
	input[type="checkbox"] {
		display:none;
	}
	.roundinput input[type="checkbox"]:checked + label::after {
		opacity: 1;
	}	
	.roundinput label::after {
		content: '';
		width: 9px;
		height: 5px;
		position: absolute;
		top: 5px;
		left: 4px;
		border: 3px solid #ffc107;
		border-top: none;
		border-right: none;
		background: transparent;
		opacity: 0;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.roundinput label {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 4px;
		left: 4px;
		cursor: pointer;
		background: -webkit-linear-gradient(top, #1a1401 0%, #302401 100%);
		background: linear-gradient(to bottom, #1a1401 0%, #302401 100%);
		border-radius: 50px;
		box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px #ffc107;
		box-sizing:content-box;
	}
	.roundinput {
		width: 28px;
		height: 28px;
		position: relative;
		background: #fef7e1;
		background: -webkit-linear-gradient(top, #fef7e1 0%, #ffc107 40%, #0a0800 100%);
		background: linear-gradient(to bottom, #fef7e1 0%, #ffc107 40%, #0a0800 100%);
		border-radius: 50px;
		box-shadow: inset 0px 1px 1px #ffc107, 0px 1px 3px rgba(10, 8, 0, 0.5);
	}
	/*
	AMBERBOX
	*/
	.ambercheckbox input[type="checkbox"]:checked + label::after {
		opacity: 1;
	}	
	.ambercheckbox label::after {
		content: '\2573';
		width: 9px;
		height: 5px;
		position: absolute;
		top: 3px;
		left: 4px;
		opacity: 0;
	}
	.ambercheckbox label {
		width: 24px;
		height: 24px;
		position: absolute;
		top: 2px;
		left: 2px;
		cursor: pointer;
		background:#0a0800;
		box-sizing:content-box;
	}
	.ambercheckbox label:hover{
		-webkit-animation:roundtestanim 0.8s;
		animation:roundtestanim 0.8s;
		animation-timing-function: ease-out;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-fill: both;
	}
	@-webkit-keyframes roundtestanim{
		from{-webkit-transform: rotate(0deg);transform: rotate(0deg);} to{-webkit-transform: rotate(180deg);transform: rotate(180deg);}
	}
	.ambercheckbox{
		width: 28px;
		height: 28px;
		position: relative;
		background: #ffc107;
	}
	
	/*
		////////////////////////////////////////////////////////////////////////////////////////////////////////
		INNE
	*/
	
	img{
		margin-bottom:0px!important;
	}
	ul.twocolul{
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}
	ul.threecolul{
		columns: 3;
		-webkit-columns: 3;
		-moz-columns: 3;
	}
	hr.blackline{
		border:0!important;
		border-style: none!important;
		margin: 0!important;
		background-color: #000;
		height: 1px;
	}
	hr.inblackline{
		border:0!important;
		border-style: none!important;
		background-color: #000;
		height: 1px;
		margin:4px 0px 4px 0px;
		width:100%;
		float:left!important;
	}
	hr.tapeline{
		background-image:url("assets/microtape.png");
		background-repeat: repeat-x;
		border:0!important;
		border-style: none!important;

		height: 10px;
		margin:4px 0px 4px 0px;
		width:100%;
		float:left!important;
	}
	hr.amberline{
		background:#ffc107;
		background-color:#ffc107;
		border:0!important;
		border-style: none!important;
		height: 1px;
		margin-bottom: 4px;
	}
	/*
		////////////////////////////////////////////////////////////////////////////////////////////////////////
		MOJA KLASA DLA LISTY: CZARNE TLO, AMBER TEKST
	*/
	ul.lmulba{
		list-style-type:none;
		padding:0;
		margin:0
	}
	ul.lmulba li{
		/*border-bottom:1px solid rgba(155,202,0,0.5)*/
	}
	ul.lmulba li:last-child{
		border-bottom:none
	}
	.lmulba.w3-hoverable li:hover{
		background-color:#fef7e1
	}
	
	
	.stripes{
		background-size: 30px 30px;
		background-image: linear-gradient(135deg, rgba(255, 255, 255, .25) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%,
							transparent 75%, transparent);            
		
		animation: animate-stripes 3s linear infinite;             
	}

	@keyframes animate-stripes {
		0% {background-position: 0 0;} 100% {background-position: 60px 0;}
	}
	
	/* All good till now. Now we'll style the background */
/*
progress::-webkit-progress-bar {
	background: black;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part */
/*
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #ba7448, #c4672d);
	
	
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */
/*
@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.85) inset
*/